@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.navbar {
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  padding: 30px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  background: transparent;
  opacity: 0.9;
  color: white;
}

.navbar.active {
  background-color: #2b2a2a;
  color: white;
  height: 80px;
}
